<div class="col-md-8 col-sm-8 col-xs-6" id="ceo-messagediv">
    <h4>Ceo Message</h4>
    <p class="ceo-textmsg">
        As you’ll see in the pages of this report, philanthropy is just one way we’re working to
        do good in the world. As we look to the future, you’ll continue to see Target working hand
        in hand with partners to help make wellness more accessible for our team members, communities
        and the guests we serve; to ensure our environmental footprint is sustainable.



    </p>


</div>

<div class="col-md-4 col-sm-4 col-xs-6" id="ceo-picturediv">
    <img src="../styles/images/ceo2.jpg" class="img-thumbnail">
</div>