<!doctype html>
<html ng-app="app">
<head>
    <script src="/angular-project/node_modules/angular/angular.js"></script>
    <script src="/angular-project/js/app.js"></script>
    <script src="/angular-project/js/controllers/appctrl1.js"></script>
    <script src="/angular-project/js/directives/headerDir.js"></script>
    <script src="/angular-project/js/directives/appdir1.js"></script>
    <script src="/angular-project/js/directives/carousel.js"></script>
    <script src="/angular-project/js/directives/formDir.js"></script>
    <link type="text/css" rel="stylesheet" href="/angular-project/styles/form.css">
    <link rel="stylesheet" href="/angular-project/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="/angular-project/node_modules/jquery/dist/jquery.js"></script>
    <script src="/angular-project/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>


<body ng-controller="appctrl1">
    <div class="container">

        <div>
            <header-dir></header-dir>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
</body>
</html>