<!doctype html>
<html  ng-app="app">
<head>

</head>
<body ng-controller="appctrl1">

<h1>hello world</h1>
<div >

{{name}}

</div>





<script src="/angular-project/node_modules/angular/angular.js"></script>
<script src="/angular-project/js/app.js"></script>
<script src="/angular-project/js/controllers/appctrl1.js"></script>
<script src="/angular-project/js/directives/appdir1.js"></script>
<!--<script src="/UIangJS/js/directives/formDirective.js"></script>-->
<!--<script src="/UIangJS/js/directives/resultDirective.js"></script>-->

</body>
</html>