<div class="items col-md-2 col-sm-2 col-xs-6">
    <div ng-repeat="item in itemTypes">
        <div class="myBox" ng-click="chooseSelectedItem(item.itemNo,item.itemType)">
            <span >{{item.itemType}}</span>


        </div>


    </div>









</div>




















































        <!--<div class="link"><a href ="#"></a></div>-->
        <!--<div class="link"><a href ="#">CellPhones</a></div>-->
        <!--<div class="link"><a href ="#">Televisions</a></div>-->
        <!--<div class="link"><a href ="#">Speakers</a></div>-->
        <!--<div class="link"><a href ="#">Computers</a></div>-->
        <!--<div class="link"><a href ="#">Headphones</a></div>-->
