<div class="col-md-4 col-sm-4 col-xs-6" id="manager-picturediv">
    <img src="../styles/images/manager1.jpg" class="img-thumbnail">
</div>
<div class="col-md-8 col-sm-8 col-xs-6" id="manager-messagediv">
    <h4>Manager Message</h4>
    <p class="manager-textmsg"></p>
    Of course, we’re proud of the progress we’ve made as a team this past year.
    But we’re also the first to say there is so much more that can be done.
    And I am always inspired by what is possible when our teams and our
    partners—leveraging our size, our scale and our global reach—work
    together and do good for our guests, each other and our communities
    around the world.


</div>
